<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <div class="d">
    <p class="name">C.Chershitha Reddy</p>
    <p class="p">Software Engineer</p>
    <pre>Mobile No:6301589190
Email:chershi3094@gmail.com
    </pre>
</div>
<div class="o">OBJECTIVE</div>
<ul>
    <li type="square"> Aspire to work with an organisation where they environment foster a continual learning process and where the can prove my hard work,which will give prolific results to organisation and to get an opportunity where i can make the best of my potential and contribute to the organisation's growth and seeking a role in a company where i can contribute my ideas be mentored towards a successful career.</li>
</ul>
<div class="o">EDUCATION QUALIFICATION</div>
<ul>
    <li type="square">Pursuing Btech from MITS </li>
    <li>12th passed From Narayana Jr.college</li>
    <li>10th passed From chaitanya high school</li>
</ul>
<div class="o">SKILLS</div>
<ul>
    <li type="square"><b>MS-OFFICE:</b> word,Excel,Powerpoint</li>
    <li type="square"><b>LANGUAGE:</b>C#,C++,Python</li>
    <li type="square" ><b>COMMUNICATION</b></li>
    <li type="square"><b>CREATIVITY</b></li>
</ul>
<DIV class="o">EXTRACURRICULARS</DIV>
<ul>
    <li type="square">Reading comics</li>
    <li type="square">Dancing</li>
    <li type="square">singing</li>
    <li type="square">Cooking</li>
    <li type="square">Acting</li>
</ul>
<div class="o">STRENGTHS</div>
<ul>
    <li type="square">Adaptability</li>
    <li type="square">Self Motivation</li>
    <li type="square">Problem Solving</li>
    <li type="square">Decision Making</li>
</ul>
<div class="o">DECLARATION</div>
<p>I hereby declare that all the details mentioned above are in accordance with the truth and fact as per my knowledge and i hold the responsibility for the correctness of the above mentioned particulars </p>
</body>
</html>
 34 changes: 34 additions & 0 deletions34  
style3.css
@@ -0,0 +1,34 @@

.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.p{
   font-style: italic;
   font-size:40px;
}
body{


}
pre{
    padding-left:1100px;
    font-size:large;
}
.d{
    background-color:aqua;
    border-style:outset;
}
.o{
    border-style: outset;
    text-align: center;
    margin-top: 30px;
    font-size:x-large;
    background-color:plum;
}
li{
    font-size:x-large;
}
p{
    font-size: larger;
}