
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.p{
   font-style: italic;
   font-size:40px;
}
body{
  

}
pre{
    padding-left:1100px;
    font-size:large;
}
.d{
    background-color:aqua;
    border-style:outset;
}
.o{
    border-style: outset;
    text-align: center;
    margin-top: 30px;
    font-size:x-large;
    background-color:plum;
}
li{
    font-size:x-large;
}
p{
    font-size: larger;
}